// colors
$color-blue: #005480;
$light-blue: #00ccff;
$color-light-green: #60c2c0;
$color-light-lilac: #b28fc2;
$color-green: #6aa1b6;
$color-lilac: #7673c0;
$color-light-red: #e74360;
$color-light-yellow: #f7b334;
$color-light-blue: #00ccfe;
$color-light-gray: #dddddd;
$color-pink: #e64360;
$color-iceberg: #e1f5f4;
$color-neptune: #6FA4B9;

$color-text-iceberg: #64cbca;
$color-text-white-lilac: #7673c0;
$color-text-gray: #515151;

$color-border-gray: #dddddd;
$color-border-gray-light: #eaeaea;
$color-border-white-lilac: #bbb9e0;
$color-border-light-white-lilac: #cecce8;
$color-border-blue: #015581;
$color-border-catskill-white: #e7f0f3;

$color-bckg-white-lilac: #e4e3f2;
$color-bckg-light-white-lilac: #f2f1f9;
$color-bckg-gray: #fbfbfb;
$color-bckg-light-gray: #f3f3f3;
$color-bckg-blue: #cdf5ff;
$color-bckg-light-blue: #e4f9ff;
$color-bckg-catskill-white: #E1ECF0;
$color-bckg-pink: #fecccf;